<template>
    <div>
        <div class="container">
            <div v-show="mode === 'search'">
                <div class="panel-heading">
                    <h2>Search Property</h2>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pay Now</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search Property</li>
                    </ol>
                </nav>

                <div class="alert alert-info" role="alert" v-show="info === true">
                    Please search the property to continue with the payment
                </div>

                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Invoice Number</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" v-model="invoice_number" placeholder="Please enter invoice #"
                                   @input="handleInvoice">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Choose Street/Road</label>
                        <div class="col-sm-3">
                            <v-select :options="streets" v-model="street_selected" :disabled="invoice_mode === true" @input="handleStreets" label="name">
                                <template slot="option" slot-scope="option">
                                    {{ option.name }}
                                </template>
                            </v-select>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">House Number</label>
                        <div class="col-sm-3">
                            <v-select :options="houses_filtered" :disabled="invoice_mode === true" v-model="house_selected" @input="handleHouse"
                                      label="number">
                                <template slot="option" slot-scope="option">
                                    {{ option.number }}
                                </template>
                            </v-select>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="btn btn-primary" @click="handleSearch">Search</div>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-danger" @click="handleCancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div v-show="mode === 'item'">
                <div class="panel-heading">
                    <h2>Choose Item</h2>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pay Now</a></li>
                        <li class="breadcrumb-item"><a href="#" @click="handleBreadCrumb('search')">Search Property</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Choose Item</li>
                    </ol>
                </nav>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            Property Address
                        </div>

                        <div class="col-sm-3">
                            : {{ street_selected.name }}
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            Resident Name
                        </div>

                        <div class="col-sm-3">
                            : Ant-Man
                        </div>
                    </div>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Choose</th>
                        <th scope="col">Invoice Date</th>
                        <th scope="col">Invoice Number</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Year</th>
                        <th scope="col">Month</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(inv_obj, index) in invoice_filtered">
                        <th><input type="checkbox" :value="inv_obj.id" :id="inv_obj.id" v-model="inv_obj.checked"
                                   @click="handleItemSelect($event)"></th>
                        <td>{{ formatDate[index] }}</td>
                        <td>{{ inv_obj.invoice_number }}</td>
                        <td>RM{{ inv_obj.amount }}</td>
                        <td>{{ getYear[index] }}</td>
                        <td>{{ getMonth[index] }}</td>
                        <td v-if="inv_obj.paid === 0" style="color: red">
                            Not Paid
                        </td>
                        <td v-if="inv_obj.paid === 1" style="color: seagreen">
                            Paid
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div v-show="services_detail === true">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Product Service Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price Per Item</th>
                            <th scope="col">Total Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(service_obj, index) in services">
                            <td v-if="service_obj.checked === true">{{ service_obj.name }}</td>
                            <td v-if="service_obj.checked === true">{{ service_obj.qty }}</td>
                            <td v-if="service_obj.checked === true">RM{{ service_obj.fee }}</td>
                            <td v-if="service_obj.checked === true">RM{{ getTotalAmountServices[index] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="btn btn-primary" @click="handleAddProductOrService">Add Product/Service</div>
                        </div>
                    </div>
                </div>

                <div class="container" style="background: #f5f5f5;border-radius: 5px;margin-top: 20px;padding-bottom: 30px" v-if="total !== 0">
                <div class="card" align="center">
                    <div class="card-body">
                        <h1>Total Amount to be Paid: RM{{ total }}</h1>
                    </div>

                    <div class="card-footer">
                        <div  class="center-block">
                                <div class="btn btn-primary">Confirm</div>
                                <div class="btn btn-danger">Cancel</div>
                        </div>
                    </div>
                </div>
                </div>

            </div>

            <div v-show="mode === 'service'">
                <div class="panel-heading">
                    <h2>Add Product/Services</h2>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pay Now</a></li>
                        <li class="breadcrumb-item"><a href="#" @click="handleBreadCrumb('search')">Search Property</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#" @click="handleBreadCrumb('item')">Choose Item</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Product or Services</li>
                    </ol>
                </nav>

                <div class="alert alert-info" role="alert" v-show="info_services === true">
                    Please select additional product/services to be paid to continue with the payment
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Choose</th>
                        <th scope="col">Product/Service</th>
                        <th scope="col">Description</th>
                        <th scope="col">Fee</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(service_obj, index) in services">
                        <th><input type="checkbox" :value="service_obj.id" :id="service_obj.id"
                                   v-model="service_obj.checked" @click="handleItemServiceSelect($event)"></th>
                        <td>{{ service_obj.name }}</td>
                        <td>{{ service_obj.description }}</td>
                        <td>
                            <v-select :options="fee" v-model="service_obj.fee" :disabled="service_obj.checked === true"
                                      :value="fee" @input="handleFee(service_obj)" label="fee">
                                <template slot="option" slot-scope="option">
                                    {{ option.fee }}
                                </template>
                            </v-select>
                        </td>
                        <td><input type="number" v-model="service_obj.qty" :disabled="service_obj.checked === true"
                                   @input="handleQty"></td>
                        <td>{{getTotalAmountServices[index]}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="btn btn-primary" @click="handleAddProductOrServiceItem">Add Product/Service
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import 'vue-select/dist/vue-select.css';
    import vSelect from 'vue-select';
    import _ from 'lodash';
    import moment from 'moment';

    export default {
        components: {
            vSelect
        },
        data() {
            return {
                invoice_mode: false,
                invoice_number: '',
                info: true,
                info_services: true,
                mode: 'search',
                streets: [
                    {
                        id: 1,
                        name: 'Jl.Iron Man'
                    },
                    {
                        id: 2,
                        name: 'Jl.Thanos'
                    },
                ],
                street_selected: [],
                houses: [
                    {
                        id: 1,
                        street_id: 1,
                        number: '1'
                    },
                    {
                        id: 2,
                        street_id: 1,
                        number: '4'
                    },
                    {
                        id: 3,
                        street_id: 1,
                        number: '7'
                    },
                    {
                        id: 4,
                        street_id: 2,
                        number: '2'
                    },
                    {
                        id: 5,
                        street_id: 2,
                        number: '5'
                    },
                    {
                        id: 6,
                        street_id: 2,
                        number: '8'
                    },
                ],
                houses_filtered: [],
                house_selected: [],
                invoices: [
                    {
                        id: 1,
                        house_id: 1,
                        invoice_date: '2019/05/08',
                        invoice_number: 'INV001',
                        amount: 50,
                        paid: 0
                    },
                    {
                        id: 2,
                        house_id: 1,
                        invoice_date: '2019/05/09',
                        invoice_number: 'INV002',
                        amount: 50,
                        paid: 0
                    },
                    {
                        id: 3,
                        house_id: 2,
                        invoice_date: '2019/05/08',
                        invoice_number: 'INV003',
                        amount: 50,
                        paid: 0
                    },
                    {
                        id: 4,
                        house_id: 2,
                        invoice_date: '2019/05/09',
                        invoice_number: 'INV004',
                        amount: 50,
                        paid: 0
                    },
                    {
                        id: 5,
                        house_id: 3,
                        invoice_date: '2019/05/08',
                        invoice_number: 'INV005',
                        amount: 50,
                        paid: 0
                    },
                    {
                        id: 6,
                        house_id: 3,
                        invoice_date: '2019/05/09',
                        invoice_number: 'INV006',
                        amount: 50,
                        paid: 0
                    },
                    {
                        id: 7,
                        house_id: 4,
                        invoice_date: '2019/05/08',
                        invoice_number: 'INV007',
                        amount: 50,
                        paid: 0
                    },
                    {
                        id: 8,
                        house_id: 4,
                        invoice_date: '2019/05/09',
                        invoice_number: 'INV008',
                        amount: 50,
                        paid: 0
                    },
                    {
                        id: 9,
                        house_id: 5,
                        invoice_date: '2019/05/08',
                        invoice_number: 'INV009',
                        amount: 50,
                        paid: 0
                    },
                    {
                        id: 10,
                        house_id: 6,
                        invoice_date: '2019/05/08',
                        invoice_number: 'INV010',
                        amount: 50,
                        paid: 0
                    },
                    {
                        id: 11,
                        house_id: 6,
                        invoice_date: '2019/05/09',
                        invoice_number: 'INV011',
                        amount: 50,
                        paid: 0
                    },
                    {
                        id: 12,
                        house_id: 5,
                        invoice_date: '2019/05/09',
                        invoice_number: 'INV012',
                        amount: 50,
                        paid: 0
                    },
                ],
                invoice_filtered: [],
                services: [
                    {
                        id: 1,
                        name: 'Cleaning Services',
                        description: 'Cleaning Services',
                        fee: 50,
                        qty: 1,
                        checked: false
                    },
                    {
                        id: 2,
                        name: 'Car Sticker',
                        description: 'Car Sticker',
                        fee: 50,
                        qty: 1,
                        checked: false
                    }
                ],
                services_filtered: [],
                services_detail: false,
                fee: [10, 20, 30, 40, 50],
                total: 0,

            }
        },
        computed: {
            formatDate() {
                return this.invoice_filtered.map((item) => {
                    return moment(item.invoice_date).format('DD/MM/YYYY');
                })
            },
            getYear() {
                return this.invoice_filtered.map((item) => {
                    return moment(item.invoice_date).format('YYYY');
                })
            },
            getMonth() {
                return this.invoice_filtered.map((item) => {
                    return moment(item.invoice_date).format('MMMM');
                })
            },
            itemSelectId() {
                return this.invoice_filtered.map((item) => {
                    return 'select_' + item.id;
                })
            },
            getTotalAmountServices() {
                return this.services.map((item) => {
                    return item.qty * item.fee;
                })
            }
        },
        methods: {
            handleStreets() {
                this.info = false;
                this.houses_filtered = _.filter(this.houses, {'street_id': this.street_selected.id});
            },
            handleInvoice() {
                this.info = false;
            },
            handleHouse() {
                this.info = false;
            },
            handleSearch() {
                this.mode = 'item';

                if(this.invoice_mode === false) {
                    this.invoice_filtered = _.filter(this.invoices, {'house_id': this.house_selected.id});
                }

                if(this.invoice_mode === true) {
                    this.invoice_filtered = _.filter(this.invoices, {'invoice_number': this.invoice_number});
                }
            },
            handleBreadCrumb(type) {
                this.mode = type;
                if(type === 'search'){
                    if(this.total !== 0) {
                        window.location.reload();
                    }
                }
            },
            handleCancel() {
                window.location.reload();
            },
            handleItemSelect(e) {
                if (e.target.checked === true) {
                    let item = _.find(this.invoice_filtered, {'id': parseInt(e.target.value)});
                    this.total += item.amount;
                }

                if (e.target.checked === false) {
                    let item = _.find(this.invoice_filtered, {'id': parseInt(e.target.value)});
                    this.total -= item.amount;
                }
            },
            handleAddProductOrService() {
                this.mode = 'service';
            },
            handleAddProductOrServiceItem() {
                this.mode = 'item';
                this.calculateChecked();
            },
            calculateChecked() {
                console.log('calculating');
                let total = 0;
                for (let i = 0; i < this.services.length; i++) {
                    if(this.services[i].checked === true){
                        total++
                    }
                }

                if(total === 0){
                    this.services_detail = false;
                } else {
                    this.services_detail = true;
                }
            },
            handleItemServiceSelect(e) {
                this.info_services = false;

                if (e.target.checked === true) {
                    let item = _.find(this.services, {'id': parseInt(e.target.value)});
                    this.total += item.fee * item.qty;
                }

                if (e.target.checked === false) {
                    let item = _.find(this.services, {'id': parseInt(e.target.value)});
                    this.total -= item.fee * item.qty;
                }
            },
            handleFee(item) {
                this.info_services = false;
            },
            handleQty() {
                this.info_services = false;
            }
        },
        watch:{
          invoice_number(){
              if(this.invoice_number !== ''){
                  this.invoice_mode = true;
              } else {
                  this.invoice_mode = false;
              }
          }
        },
        created() {
        }
    }
</script>

<style scoped>

</style>